<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,400,300,600,700&amp;subset=all" rel="stylesheet" type="text/css">
    <link href="/assets/css/core-8274bf26ee.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    <title>Title</title>
</head>
<body>
<h3 class="page-title">
    Readability Statistics
</h3>

<div id="wrapper">

    <form id="paper" method="get" action="">

        <textarea placeholder="Schreiben Sie bitte einen Text." id="text" name="text" rows="4" style="overflow: hidden; word-wrap: break-word; resize: none; height: 160px; "></textarea>
        <br>
        <input id="button" type="submit" value="Speichern">

    </form>

</div>
</body>
</html>